<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BYTEBUY | My e-commerce website</title>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"><img src="static/images/logo.png" width="130px" ></a>
                    
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="index.html"> Home</a></li>
                        <li><a href="{{url_for('products')}}"> Products</a></li>
                        <li><a href="#"> About</a></li>
                        <li><a href="contact.html"> Contact</a></li>
                        {%if session['username']%}
                        <li><a href="{{url_for('order_history')}}"> My orders</a></li>
                        <li><a href="{{ url_for('profile') }}">Profile</a></li>
                        {%else%}
                        <li><a href="{{url_for('account')}}"> Account</a></li>
                        {%endif%}
                        </ul>
                        </nav>
                        <a href="{{url_for('cart')}}"><img src="static/images/cart.png" width="30px" height="30px"></a>
                        <img src="static/images/menu.png" class="menu-icon" onclick="menutoggle()">
                        </div>
            <div class="row">
                <div class="col">
                    <h1>
                        Fashion For Women<br> Why not us 
                    </h1>
                    <p>
                        let our fashion answer the world ..!
                    </p>
                    <a href="" class="btn">Explore Now</a>
                </div>
                <div class="col">
                    <img src="static/images/mainpage.jpg">
                </div>
            </div>
        </div>
        <!-- featured category -->
         <div class="categories">
            <div class="small-container">
            <div class="row">
                <div class="col-1">
                    <img src="static/images/casual-wear.png" style="height: 200px;">
                </div>
                <div class="col-1">
                    <img src="static/images/formal-wear.png" style="height: 200px;">
                </div>
                <div class="col-1">
                    <img src="static/images/party-wear.png" style="height: 200px;">
                </div>
                <div class="col-1">
                    <img src="static/images/sports-wear.png" style="height: 200px;">
                </div>
            </div>
            </div>
         </div>
         <!-- featured products -->
        <div class="small-container">
            <h2 class="title">
                Featured Products
            </h2>
            <div class="row">
                <div class="col-2">
                    <img src="static/images/T-shirt.png">
                    <h4>Cotton T-shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <p>$50.00</p>
                </div>
                <div class="col-2">
                    <img src="static/images/silk-saree.png">
                    <h4>Kanchipuram Silk Saree</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <p>$100.00</p>
            </div>
        </div>
        <h2 class="title">
            Latest Products
        </h2>
        <div class="row">
            <div class="col-2">
                <img src="static/images/latest-product-1.png">
                <h4>H&M Cotton jeans top</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-2">
                <img src="static/images/latest-product-2.png">
                <h4>New beige salwar suit with patola patch work</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>$80.00</p>
            </div>
            <div class="col-2">
                <img src="static/images/latest-product-3.png" style="height: 200px;">
                <h4>Nishideek Fashion Women's Satin Jacket-Style Shrug</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>$45.00</p>
            </div>
            <div class="col-2">
                <img src="static/images/latest-product-4.png" style="height: 200px;">
                <h4>Women Embroidered Kalidar Kurta</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>$63.00</p>
            </div>
        </div>
        <!-- OFFERS -->
         <div class="offer">
            <div class="small-container">
                <div class="row">
                    <div class="col-2">
                        <img src="static/images/offer-1.png" class="offer-img">
                    </div>
                    <div class="col-2">
                        <p>Exclusively Available on Bytebuy</p>
                        <h1>Derma Co Skincare kit</h1>
                        <small>Get the best skincare kit at the lowest price</small>
                        
                    </div>
                    <a href="" class="btn">Buy Now</a>
                </div>
            </div>
         </div>
         <!-- ------------testimonial---------------- -->
        <div class="testimonial">
            <div class="small-container">
                <div class="row">
                    <div class="col-2">
                        <i class="fa fa-quote-left"></i>
                        <p>Bytebuy is the best e-commerce website I have ever come across. The products are of high quality and the delivery is very fast. I would recommend Bytebuy to everyone.</p>
                        <img src="static/images/user-1.jpg" class="user-img">
                        <h6>John Doe</h6>
                    </div>
                    <div class="col-2">
                        <i class="fa fa-quote-left"></i>
                        <p>Bytebuy is the best e-commerce website I have ever come across. The products are of high quality and the delivery is very fast. I would recommend Bytebuy to everyone.</p>
                        <img src="static/images/user-2.png" class="user-img">
                        <h6>Marie Parker</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- Brands -->
         <div class="brands">
            <div class="small-container">
                <div class="row">
                    <div class="col-3">
                        <img src="static/images/brand-1.png" alt="">
                    </div>
                    <div class="col-3">
                        <img src="static/images/brand-2.png" alt="">
                    </div>
                    <div class="col-3">
                        <img src="static/images/brand-3.png" alt="">
                    </div>
                    <div class="col-3">
                        <img src="static/images/brand-4.png" alt="">
                    </div>
                    <div class="col-3">
                        <img src="static/images/brand-5.png" alt="">
                    </div>
                </div>
            </div>
         </div>
         <!-- footer -->
          <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col-1">
                        <h3>
                            Download our APP
                        </h3>
                        <p>Download app for Android and IOS mobile devices</p>
                        <div class="app-logo">
                            <img src="static/images/play-store.png" style="height: 40px;">
                            <img src="static/images/app-store.png">
                        </div>
                    </div>
                    <div class="footer-col-2">
                        <img src="static/images/logo.png" alt="">
                        <p>Our purpose is to ensure touble free and convenient shoppping for women</p>
                    </div>
                    <div class="footer-col-3">
                        <h3>Useful links</h3>
                        <ul>
                            <li>Coupouns</li>
                            <li>Blog Posts</li>
                            <li>Return Policy</li>
                            <li>Joint Affiliate</li>
                        </ul>
                    </div>
                    <div class="footer-col-4">
                        <h3>Follow Us on </h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Instagram</li>
                            <li>Twitter</li>
                            <li>Youtube</li>
                        </ul>
                    </div>
                </div>
                <hr>
            <p class="copy-right-text">© 2025 Bytebuy.com | All Rights Reserved</p>      
            </div>
          </div>
          <!-- js for toggle menu -->
           <script>
            var MenuItems = document.getElementById("MenuItems");
            MenuItems.style.maxHeight = "0px";
            function menutoggle(){
                if(MenuItems.style.maxHeight == "0px")
                {
                    MenuItems.style.maxHeight = "200px";
                }
                else
                {
                    MenuItems.style.maxHeight = "0px";
                }
            }
           </script>
    </body>
</html>