<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order history</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/order_summary.css') }}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>         
<body>
    <div class="navbar">
        <div class="logo">
            <a href="index.html"><img src="{{url_for('static',filename='images/logo.png')}}" width="130px" ></a>
            
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="index.html"> Home</a></li>
                <li><a href="{{url_for('products')}}"> Products</a></li>
                <li><a href="#"> About</a></li>
                <li><a href="contact.html"> Contact</a></li>
                <li><a href="{{url_for('account')}}"> Account</a></li>
            </ul>
        </nav>
        <a href="{{url_for('cart')}}"><img src="{{url_for('static',filename='images/cart.png')}}" width="30px" height="30px"></a>
        <img src="static/images/menu.png" class="menu-icon" onclick="menutoggle()">
    </div>
    <div class="card">
        <div class="card mt-50 mb-50">
            <div class="col d-flex"><span class="text-muted" id="orderno">order {{order_items['order_id']}}</span></div>
                <div class="gap">
                    <div class="col-2 d-flex mx-auto"> </div>
                </div>
            <div class="title mx-auto"> Thank you for your order! </div>
                <div class="main"> <span id="sub-title">
                    <p><b>Order Summary</b></p>
                    </span>
                    <div class="row row-main">
                        <div class="col-3"> <img class="img-fluid" src="{{url_for('static',filename=products['image_url'])}}"> </div>
                        <div class="col-6">
                            <div class="row d-flex">
                                <p><b>{{products['product_name']}}/b></p>
                            </div>
                            <div class="row d-flex">
                                <p class="text-muted">---product description-----</p>
                            </div>
                        </div>
                        <div class="col-3 d-flex justify-content-end">
                            <p><b>${{products['price']}}</b></p>
                        </div>
                    </div>
                  
                    <hr>
                    <div class="total">
                            <div class="row">
                                <div class="col"> <b> Total:</b> </div>
                                <div class="col d-flex justify-content-end"> <b>${{order_items['price']}}</b> </div>
                            </div> <button class="btn d-flex mx-auto"> Track your order </button>
                    </div>
                </div>
        </div>
    </div>
</body>
</html>